[user]
	name = rfhold
	email = rfhold@rholden.dev
[core]
	editor = vim
	excludesfile = ~/.gitignore
	hooksPath = ~/.githooks
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[include]
	path = ~/.gitconfig.local
